body {
  background-color: rgba(44, 44, 44, 0.6);
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 30px;
  color:white;
}


.auth-form {
  background-color: rgba(44, 44, 44, 0.8);
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
 
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
  font-size: 1.8rem;
}

.auth-form2 {
  background-color: rgba(44, 44, 44, 0.8);
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
 
}

.auth-form2 h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
  font-size: 1.8rem;
}


.form-group {
  margin-bottom: 1.5rem;
  
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #fffefe;
  color: #ffffff;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  outline: none;
  border-color: white;
  border-radius: 6px;
  border: px solid white;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  color: #ffffff;
}

.password-hint {
  color: #cfcbcb;
  font-size: 0.75rem;
}

.auth-form-error {
  background-color: #ff4444;
  color: white;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.success-message {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.success-button {
  background-color: #545f61;
  padding: 19px 25px;
  border: none;
  font-size: 1.1rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.success-button:hover {
  background-color: #ee1a1a;
}


.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 1010;
}

.modal-close-btn:hover {
  color: #f00622;
}


.password-group {
  position: relative;
}

.password-group input {
  padding-right: 40px;
  color:white;
}



.toggle-password-visibility:hover {
  color: #ee1a1a;
}


.submit-button-signin {
  background-color: #f24343;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button-signin:hover {
  background-color: #ee1a1a;
}

.submit-button-signin:focus {
  outline: none;
}


.toggle-form-link {
  text-align: center;
  margin-top: 1rem;
}

.toggle-form-link span {
  cursor: pointer;
  color: #ee1a1a;
}

.toggle-form-link span:hover {
  text-decoration: underline;
}
